#root {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-left{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.card {
  padding: 2em;
}
.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.read-the-docs {
  color: #888;
}
